
/* //////////.nav--humburger{}////////////// */
.navbar{
  /* height: 0px; */
  /* width: 1cm; */
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
  align-items: start;
   position: fixed;
    top: 50%;
    left: 00%;

    transform: translate(10%,-50%) rotate(0deg);
    z-index: 99999;
    opacity: 1;
    transition: 0.5s 2s;
}






.nav__circle{
  height: 0.6cm;
  width: 0.6cm;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0px;
  /* border-radius: 50%; */
  background-color: var(--mainColor-1);
  border: var(--mainColor-4) 0.05cm solid;
  opacity: 0.8;
  transition: 0.5s;
  transform: rotate(45deg);
}
/* ////////////:hove/////////// */
.nav__circle:hover{
  height:0.8cm;
  width: 60px;
  /* border-radius:0 0.75cm 0.75cm 0; */
  background-color: var(--mainColor-1);
  border: var(--mainColor-4) 0.05cm solid;
  transform: rotate(0deg);

  /* border-radius: 50%; */

}
.nav__circle img{
  height: 0.4cm;
  position: absolute;
  transition: 0.3s;
transform: rotate(-45deg);
  }
.nav__circle:hover img{
  opacity: 0;
  position: absolute;
  }
.nav__circle span{
  font-size: 0.4cm;
  font-family: dd;
  color: var(--mainColor-4);
  opacity: 0;
  transition: 0.3s 0s;
  }
  .nav__circle a{
    display: flex;
    justify-content: center;
    align-items: center;
    }
.nav__circle:hover span{
opacity: 1;
transition: 0.3s 0.1s;

}

/* /////////////////////////////// */








