.work{ 
    height: 100vh;
    width: 100%;
    padding: 0vh 5vw ;
    overflow: hidden;
    background-color: var(--mainColor-1);
    background: linear-gradient(to top, var(--mainColor-1 ) 0%, var(--mainColor-3)  80%);

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: space-between; */
  }
.work *{ 
    /* outline: 2px solid; */
  }
  .work__header{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15%;

  }

  


 

  .work__header h5{
    
        font-size:1.2cm;  
      text-transform: uppercase;
        color:var(--mainColor-1);
        font-family: dd;
        /* color: transparent; */
        opacity: 1;
        -webkit-text-stroke: 0.8px var(--mainColor-2) ;

  }

  .gallery{
    height: 100%;
    width: 100%;
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
align-content: start;

    /* gap: 25px; */
    /* height: 100%; */
  }
  .work__card{
    /* position: relative; */
    width: 340px;
    height: 235px;
    margin: 20px;
    color: var(--mainColor-4);
    outline: 4px var(--mainColor-4) solid;
      overflow: hidden;
  }
.work__card img{
  width: 100%;
  filter: blur(0px);
}








